* {
	margin: 0;
	padding: 0;
}
#listAdd {
	margin: 0 auto;	
	padding: 100px;
	width: 90%;
	/*display: none;*/
}

.listItems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid black;
	list-style: none;
	padding: 30px 30px;
	width: 90%;
	gap: 10px;
	margin: 0 auto;
}

.itemProd {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
}

.itemProd span {
	background: red;
	display: block;
	width: auto;
}
.display {
	display: block;
}